<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RISULTATO ASSEGNAZIONE PREMI</title>
  <link rel="icon" type="image/x-icon" th:href="@{/images/mw.jpg}">
</head>
<body>
<table>
  <tr>
    <th>Username</th>
    <th>Premio</th>
  </tr>
  <tr >
    <td th:text="${Utente01}"></td>
    <td th:text="${Premio01}"></td>
  </tr>
  <tr>
    <td th:text="${Utente02}"></td>
    <td th:text="${Premio02}"></td>
  </tr>
  <tr>
    <td th:text="${Utente03}"></td>
    <td th:text="${Premio03}"></td>
  </tr>
</table>
</body>
</html>