<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DASHBOARD ADMIN</title>
</head>
<body>
<p>BENVENUTO/A</p>
<div class="d-grid gap-2 col-6 mx-auto">
  <a th:herf="@{/ListaUtentiIscritti}" >
      <button class="btn btn-primary" type="button">Visualizza lista utenti iscritti</button>
  </a>
    <button class="btn btn-primary" type="button">Visualizza classifica utenti</button>
    <button class="btn btn-primary" type="button">Assegna premi</button>
    <button class="btn btn-primary" type="button">Upgrade</button>

</div>
</body>
</html>