<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lacrosse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

</head>
<body>
<div th:replace="~{BarraDiNavigazione.html}"></div>
<img th:src="@{/images/lacrosse.jpg}">
<p>Il lacrosse è uno sport di squadra veloce e fisico, nato tra le tribù native americane e oggi diffuso soprattutto in Nord America, Europa e Australia. Si gioca con una palla di gomma e una racchetta (stick o crosse) dotata di una rete all'estremità, usata per passare, raccogliere e tirare la palla verso la porta avversaria.</p>
<p>lista squadre</p>
</body>
</html>