<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LISTA UTENTI</title>
</head>
<body>
<form th:action="@{/getUsers}" method="get">
    <button type="submit">Get the list of users</button>
</form>
<br><br>
<div th:if="${ not#lists.isEmpty(userdata)}">
    <h1>Lista Utenti Iscritti</h1>
</div>
<br><br>
<div th:if="${ not#lists.isEmpty(userdata)}">
    <h1>Lista Utenti Iscritti</h1>
</div>
<table>
    <tr>
        <th>Utente</th>
        <th>Username</th>
        <th>Email</th>
        <th>Ruolo</th>
    </tr>
    <tr th:each="user : ${userdata}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.role}"></td>
    </tr>
</table>

</body>
</html>