


<div class="container">

<button id="newsButton" type="button" class="btn btn-lg btn-danger"
        data-bs-toggle="popover" data-bs-title="News" data-bs-content="Caricamento...">
    News
</button>


<div style="position: fixed; top: 70px; right: 20px; z-index: 1000;">
    <button type="button" class="btn btn-sm btn-secondary" onclick="loadDoc(true)">Mostra tutte</button>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<style>
    #newsButton {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
    }
</style>

<script>
    var currentCD = 0;
    var cdData = null;
    var autoRefresh = true;
    var popover = null;

    function loadDoc(showAll = false) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status ==200) {
                cdData = this.responseXML.getElementsByTagName("CD");
                if(showAll) {
                    showAllCDs();
                } else {
                    showNextCD();
                }
            }
        };
        xhttp.open("GET", "./CatalogoNews.xml", true);
        xhttp.send();
    }

    function showNextCD() {
        if (!cdData || cdData.length === 0) return;

        var cd = cdData[currentCD];
        var title = cd.getElementsByTagName("TITLE")[0].innerHTML;
        var artist = cd.getElementsByTagName("AZIONE")[0].innerHTML;


        var button = document.getElementById("newsButton");
        button.setAttribute("data-bs-title", title);
        button.setAttribute("data-bs-content", artist);


        if (popover) {
            popover.setContent({
                '.popover-header': title,
                '.popover-body': artist
            });
        }

        currentCD = (currentCD + 1) % cdData.length;

        if(autoRefresh) {
            setTimeout(showNextCD, 20000);
        }
    }

    function showAllCDs() {
        autoRefresh = false;
        if (!cdData || cdData.length === 0) return;

        var allContent = "";
        for (let i = 0; i < cdData.length; i++) {
            allContent += "<strong>" + cdData[i].getElementsByTagName("TITLE")[0].innerHTML + "</strong><br>" +
                cdData[i].getElementsByTagName("AZIONE")[0].innerHTML + "<br><br>";
        }

        var button = document.getElementById("newsButton");
        button.setAttribute("data-bs-title", "Tutte le News");
        button.setAttribute("data-bs-content", allContent);

        if (popover) {
            popover.setContent({
                '.popover-header': "Tutte le News",
                '.popover-body': allContent
            });
        }


        setTimeout(function() {
            autoRefresh = true;
            showNextCD();
        }, 30000);
    }


    window.onload = function() {
        loadDoc();


        var button = document.getElementById("newsButton");
        popover = new bootstrap.Popover(button, {
            trigger: 'manual',
            html: true,
            placement: 'bottom'
        });


        button.addEventListener('click', function() {
            if (popover._isShown()) {
                popover.hide();
            } else {
                popover.show();
            }
        });
    };
</script>
</div>