<!DOCTYPE html>
<html>
<head>
    <style>
        table,th,td {
            border : 1px solid black;
            border-collapse: collapse;
        }
        th,td {
            padding: 5px;
        }
    </style>

    <script>
        var currentCD = 0;
        var cdData = null;
        var autoRefresh = true;

        function loadDoc(showAll = false) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status ==200) {
                    cdData = this.responseXML.getElementsByTagName("CD");
                    if(showAll) {
                        showAllCDs();
                    } else {
                        showNextCD();
                    }
                }
            };
            xhttp.open("GET", "./CatalogoNews.xml", true);
            xhttp.send();
        }

        function showNextCD() {
            if (!cdData || cdData.length === 0) return;

            var cd = cdData[currentCD];
            let table="<tr><th>Artist</th><th>Title</th></tr>";
            table = table + "<tr><td>" +
                cd.getElementsByTagName("ARTIST")[0].innerHTML +
                "</td><td>" +
                cd.getElementsByTagName("TITLE")[0].innerHTML +
                "</td></tr>";
            document.getElementById("demo").innerHTML = table;

            currentCD = (currentCD + 1) % cdData.length;

            if(autoRefresh) {
                setTimeout(showNextCD, 30000);
            }
        }

       /*function showAllCDs() {
            autoRefresh = false; // Disabilita l'auto-refresh quando mostri tutto
            if (!cdData || cdData.length === 0) return;

            let table="<tr><th>Artist</th><th>Title</th></tr>";
            for (let i = 0; i < cdData.length; i++) {
                table = table + "<tr><td>" +
                    cdData[i].getElementsByTagName("ARTIST")[0].innerHTML +
                    "</td><td>" +
                    cdData[i].getElementsByTagName("TITLE")[0].innerHTML +
                    "</td></tr>";
            }
            document.getElementById("demo").innerHTML = table;

            // Ripristina l'auto-refresh dopo 30 secondi
            setTimeout(function() {
                autoRefresh = true;
                showNextCD();
            }, 30000);
        }*/

        // Carica i dati al caricamento della pagina e inizia il ciclo
        window.onload = function() {
            loadDoc();
        };
    </script>

</head>

<body>

<h2>The XMLHttpRequest Object</h2>

<button type="button" onclick="loadDoc(true)">Get my CD collection</button>
<br><br>
<table id="demo"></table>

</body>
</html>