<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style></style>

</head>
<body>

<form th:action="@{/addUser}" method = post>
    <!--nome-->
    <label for="firstName">First name</label><br>
    <input type="text" id="firstName" name="firstName" value="" required><br><br>
    <!--cognome-->
    <label for="lastName">Last name</label><br>
    <input type="text" id="lastName" name="lastName" value="" required><br><br>
    <!--email-->
    <label for="email">E-mail</label><br>
    <input type="text" id="email" name="email" value="" required><br><br>
    <!--Username-->
    <label for="username">Username</label><br>
    <input type="text" id="username" name="username" value="" required><br><br>
    <!-- password-->
    <label for="password">Password</label><br>
    <!--password contenente 2 numeri, un carattere speciale, lunga almeno 9 caratteri -->
    <input type="password" id="password" name="password"
           pattern="^(?=(.*\d){2,})(?=.*[!@#$%^&*(),.?\:{}|<>]).{9,}$"
           title="deve contenere almeno un carattere speciale, due numeri e deve essere di una lunghezza minima di 9 caratteri" required>
    <!--verify password-->
    <label for="vPassword">Verify Password</label><br>
    <input type="password" id="vPassword" name="vPassword" required>
    <br><br>
    <label for="sport">Seleziona uno sport:</label>
    <select id="sport" name="sport" required>
        <option value="1">Tiro alla fune</option>
        <option value="2">Lacrosse</option>
        <option value="3">Polo</option>
    </select>
    <br><br>
    <label for="sport">Seleziona uno sport:</label>
<!--c'è da fare lo script-->
    <select id="sportcuore" name="sportcuore" required>
        <option value="">scegli una squadra</option>

    </select>

    <input type="submit" value="Sign up">
    <input type="reset" value="reset">
</form>

</body>
</html>