<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SPONSOR</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/mw.jpg}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{BarraDiNavigazione.html}"></div>
<div th:replace="~{News.html}"></div>"
<div class="card" style="width: 18rem;">
    <img th:src="@{/images/tom-nap.jpg}" class="card-img-top" alt="sponsor tom nap">
    <div class="card-body">
        <h5 class="card-title">TOM NAP</h5>
        <p class="card-text">per un riposo a prova di reset</p>
        <a href="#" class="btn btn-primary">scopri di più</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img th:src="@{/images/pasta.jpg}" class="card-img-top" alt="sponsor pasta">
    <div class="card-body">
        <h5 class="card-title">PASTA</h5>
        <p class="card-text">La pasta è buona</p>
        <a href="#" class="btn btn-primary">scopri di più</a>
    </div>
</div>
</body>
</html>